# Binaries for programs and plugins
go-mosaic
go-mosaic.exe
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Database & runtime caches
*.bin
database.bin
*.log
*.stderr

# Packaging & release outputs
pack/
pack.zip

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.idea/
.vscode/

# Dependency directories
# vendor/
